body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.edge {
  stroke: gray;
  opacity: 0.7;
  stroke-width: 3px;
  stroke-linecap: round;
}
.edge:hover {
  stroke: red;
}
cursor {
  opacity: 1;
  stroke: red;
}
svg {
  z-index: 1;
  position: relative;
  background-color: #02000b;
}
.node{
  stroke: white;
  stroke-width: 0.15em;
}
.node-label {
  pointer-events: none;
  user-select: none;
  font-size: 0.5em;
}
.check-label {
  user-select: none;
}
.user-interface {
  position: fixed;
  width: 100%;
  height: 45px;
  padding-bottom: 5px;
  z-index: 3;
}
.user-interface,
.tutorial-div {
  background-color: #e5e2e0;
}
.tutorial-div {
  z-index: 2;
  font-family: Franklin Gothic Light;
  border: 5px solid gray;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  user-select: none;
  overflow: hidden;
}
.tutorial-text {
  transform: translate(0px, -25px);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
}
.tutorial-back-button {
  position: absolute;
  top: 450px;
  left: 0px;
}
.tutorial-next-button {
  position: absolute;
  top: 450px;
  right: 5px;
}
.tutorial-x-button {
  position: absolute;
  top: 0px;
  left: 652px;
}
.tutorial-title {
  text-align: center;
  top: -15px;
  position: relative;
  width: 700px;
  height: 45px;
  border-bottom: 3px solid #2e2e2e;
  cursor: move;
}
.button-link {
  position: absolute;
  top: 0px;
  left: 0px;
  text-decoration: unset;
}
button,
.button-link,
.icon-link {
  border: 0px solid rgba(255, 255, 255, 0); /* transparent border for inset shadows */
  box-sizing: border-box;
  font-family: Franklin Gothic Light;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  color: #2e2e2e;
  transition-duration: 0.2s;
}
.icon-link {
  position: absolute;
  left: 75.7%;
  width: 40px;
  border-radius: 20px;
}
.icon-link .icon {
  margin-top: 2px;
  margin-right: 1%;
}
button:hover,
.heuristic-dropdown:hover,
.button-link:hover,
.icon-link:hover {
  box-shadow: 0 1px 3px 1px #2527294d, 0 4px 8px 3px #25272926;
}
button:active,
.heuristic-dropdown:active,
.button-link:active,
.icon-link:active {
  box-shadow: inset 0 1px 3px 1px #2527291d, 0 4px 8px 3px #25272986;
  transition-duration: 0.05s;
}
.toggle-button,
.state-button-off,
.state-button-on {
  width: 150px;
  height: 40px;
}
.icon-button,
.button-link,
.tutorial-back-button,
.tutorial-next-button,
.tutorial-x-button,
.icon-link {
  height: 40px;
}
.toggle-button,
.state-button-off,
.icon-button,
.tutorial-back-button,
.tutorial-next-button,
.heuristic-dropdown,
.heuristic-dropdown .Dropdown-menu,
.button-link,
.icon-link {
  background-color: #8585ff;
}
.toggle-button:hover,
.state-button-off:hover,
.icon-button:hover,
.tutorial-back-button:hover,
.tutorial-next-button:hover,
.button-link:hover,
.icon-link:hover {
  background-color: #b8b8f6;
}
.toggle-button:active,
.state-button-off:active,
.icon-button:active,
.tutorial-back-button:active,
.tutorial-next-button:active,
.button-link:active,
.icon-link:active {
  background-color: #b8b8f69e;
}
.state-button-on,
.tutorial-x-button {
  background-color: #ff8585;
}
.state-button-on:hover
.tutorial-x-button:hover {
  background-color: #f6b8b8;
}
.state-button-on:active,
.tutorial-x-button:active {
  background-color: #f6b8b89e;
}
.console, .console-error {
  position: absolute;
  border: 5px solid #000000;
  padding: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  font-family: 'Courier';
  width: 19.5%;
  height: 29px;
  word-wrap: normal;
  font-size: 13px;
  user-select: none;
}
.console {
  color: green;
  background-color: #e3ffe3;
}
.console-error {
  color: red;
  background-color: #ffefef;
}

.heuristic-dropdown, .heuristic-dropdown .Dropdown-menu {
  vertical-align:top;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  font-family: Franklin Gothic Light;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  padding: 7px;
  user-select: none;
  color: #2e2e2e;
}
.heuristic-dropdown {
  height: 40px;
}
.heuristic-dropdown .Dropdown-menu{
  border-bottom: 3px solid #e5e2e0;
  border-left: 3px solid #e5e2e0;
  border-right: 3px solid #e5e2e0;
  border-top: 3px solid #2e2e2e;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  left:-12px;
  top:2px;
  font-size: 1em;
  margin-top: 0px;
}
.heuristic-dropdown .Dropdown-menu .Dropdown-option {
  border-radius: 5px;
  color: #2e2e2e;
  transition-duration: 0.1s;
  padding: 2px;
}
.heuristic-dropdown .Dropdown-menu .Dropdown-option:hover {
  transform: scale(1.1, 1.1);
  background-color: #b8b8f6;
}
.icon,
.arrow-icon {
  color: #2e2e2e;
  margin-top: 1px;
  background-color: transparent;
  fill: transparent;
}
.icon {
  fill: #2e2e2e;
}
.heuristic-dropdown:hover {
  border-radius: 5px;
}
.blinking {
  animation: blinking 0.7s infinite;
}
@keyframes blinking {
  50% {
    opacity: 0.65;
  } 
}